<p>Добро пожаловать в Playstation3 Club!</p>

<p> Теперь самые свежие новости о скидках,турнирах,акциях и прочем вы будете узнавать моментально!</p>

<% link_to "Перейти на сайт" , root_path %>

<p> С Уважением команда PS3Club Харькова.</p>