<p class="lead">Редактировать новость</p>

<%= render 'form' %>
<p></p>
<%= link_to 'Назад', news_index_path, class: 'btn btn-default' %>
<br>
<hr>
<%= link_to 'Удалить', @news , method: :delete, data: {confirm: "Удалить эту новость?"},class: 'btn btn-danger btn-sm' if current_user.try(:admin)%></br>
<i class = "text-muted"> Удалить новость <i></p>
