<div class="container">

  <div class="row">

    <% @news.each do |news| %>
    <div class="col-lg-10">
    <h2> <%= news.title %> </h2>
    <p> <%= image_tag news.image_url(:thumb).to_s%> </p>
    <p> <%= news.description %> </p>
	    <p> <%= button_to 'Подробнее', 'news_show_path',class: 'btn btn-default' %></p>
      <hr>
    </div>
        <% end%>

  </div>

</div>