<% cache @contacts do %>
	<div class = "row">
		<div class = "panel panel-info">
			<div class = "panel-heading">Контакты</div>
			<div class = 'panel-body'>
	<div class = "col-lg-3">
<address class="text-right">
	<strong>PlayStation3 Club </strong> </br>
	Ул.Тринклера,24</br>
	Харьков.Украина</br>
	</p>
	(097)-62-192-13;<p> (063)-789-58-98; </p>
	</address>
		</div>
		
		<div class ="col-lg-4">
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=xryE3opugfnoQbSGOHV_p_OyIJt-TTn4&width=600&height=450"></script>
</div>
</div>
</div>
</div>
<% end %>