<%= render 'layouts/google.html.erb'%>
<%= provide :title , 'Контакты'%>
<div id =  'contacts'>
	<div class = "row">
	<div class = 'col-md-12 col-lg-12 col-sm-12 contact_title'>
			<h1>Контакты</h1>
			<hr>		
			</div>
					<div class = 'col-lg-4 col-md-4 col-xs-4 col-sm-4 contacts_col'>
				
<address class="contact">
	<strong>PlayStation3 Club </strong> </br>
	Ул.Тринклера,24</br>
	Харьков.Украина</br>
	</p>
	(097)-62-192-13;<p> (063)-789-58-98; </p>
	<strong>Vkontakte:</strong> <%= link_to 'vk.com/psclub_kh', 'http://vk.com/psclub_kh' %>
	</address>
	</div>
<div class="col-md-8 col-sm-8 col-lg-8 col-xs-8 contact_map">		
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=xryE3opugfnoQbSGOHV_p_OyIJt-TTn4&width=800&height=350"></script>
</div>
</span>
</div>
</div>
