<div class = "well">
<address class="text-right">
	<strong>PlayStation3 Club </strong> </br>
	Ул.Тринклера,24</br>
	Харьков.Украина</br>
	063-21-9999-1
	</address>
	
	<address class= "text-right">
		<strong><span class="label label-primary">ВКонтакте </span>  vk.com/ps3club</strong></br>
		<strong><span class="label label-default"> Email </span>ps3club@gmail.com</strong>
		</address>

<address class="text-center">
	ТУТ БУДЕТ КАРТА
	</address>
</div>