<div class = 'row'>
	<div class = 'panel panel-primary'>
		<div class = 'panel-heading'>Наши игровые комнаты</div>
			<div class = 'panel-body'>
				
	<div class = 'col-lg-12 col-md-12 col-xs-6'>
		<%= image_tag('auto-room.jpg',class: 'imageClip-gallery img-responsive')%>
		</div>
		<hr>
		<div class = 'col-lg-12 col-md-12'>
			<%= image_tag('basket-room.jpg',class: 'imageClip-gallery')%>
			</div>
		<hr>	
			
			<div class  = 'col-lg-12 col-md-12'>
				<%= image_tag('box-room.jpg',class: 'imageClip-gallery') %>
				</div>
	<hr>
	</div>
	
	</div>
	</div>
	</div>