/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap.css";
body {
     background: url('http://media.rockstargames.com/rockstargames/img/global/downloads/wallpapers/games/v_franklin_chop_1920x1080.jpg');
     background-size: 1440px 900px;
    background-repeat:no-repeat;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top:30px;
	
	.well-sm {
	background-color:#FFF;
	}
	.banner {
	background-position:initial initial;
	  background-repeat:repeat no-repeat;
	  height:153px;
	  left:0;
	  margin:0 auto;
	  width:100%;
	padding-top:20px;
	}

	.menunav {
		
		  color:#53C6EE;
		  float:left;
		  font-family:'PT Sans', sans-serif;
		  font-size:18px;
		  list-style:none;
		  margin:0;
		  min-height:27px;
		  padding:0;
		  text-shadow:rgba(0, 0, 0, 0.746094) 0 1px;
		  width:100%;
		  position:relative;
		  top:-33px;
		  left:47px;
		
		li {
			float:left;
			padding:0 10px;
			padding-left:0 !important;
		}
		a{
			color:#53C6EE;
			font-family:'PT Sans', sans-serif;
			  font-size:18px;
			  list-style:none;
			  text-shadow:rgba(0, 0, 0, 0.746094) 0 1px;
			margin:12px;
			
		}
	}
}

footer {
  text-align: center;
}


/* NEWS BLOCK ON INDEX */

.imageClip {
	width:240px;
	height:140px;
	overflow:hidden;
}

.news-text {
	font-family:'PT Sans', sans-serif;
	text-align:left;
	color:#444444;
	font-size:16px;
}

.news-name {
	color:#3B8EBC;
}

.news-read-more {
	color:#3B8EBC;
	  font-family:'PT Sans', sans-serif;
	  font-size:14px;
	  padding-top:15px;
}

.main-banner {
	position:relative;
	top:100px;
	left:57px;
	overflow:hidden;
}

.image-jumb {
	width:180px;
	height:230px;
	float:right;
}




