/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "flat.min.css";
body {
     font-family:'PT Sans', sans-serif;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	 padding-top:30px;
	background: url('http://media.rockstargames.com/rockstargames/img/global/downloads/wallpapers/games/v_hunt_1600x900.jpg');
	.jumbotron {
		background-color: #1ABC9C;
	}
	
}

footer {
  text-align: center;
  background-color: #16A085;
  padding-bottom:1px;
}


/* NEWS BLOCK ON INDEX */

.imageClip {
	width:240px;
	height:140px;
	overflow:hidden;
}


.imageClip-gallery {
	width: 1125px;
	height:800px;
	overflow:hidden;
}

.news-text {
	font-family:'PT Sans', sans-serif;
	text-align:left;
	color:#444444;
	font-size:16px;
}

.news-name {
	color:#3B8EBC;
}

.news-read-more {
	color:#3B8EBC;
	  font-family:'PT Sans', sans-serif;
	  font-size:14px;
	  padding-top:15px;
}

.main-banner {
	position:relative;
	top:160px;
	left:15px;
	overflow:hidden;
}

.ps-banner {	

	opacity:1;
	padding-right:10px;
}

.my-banner {
	padding-left:5px;
	
}

.addr-banner {
	position:relative;
	top:55px;
	left:-195px;
}

.header {
	background-color:#EAE3B4;
	opacity:0.7;
	.head-banner {
	opacity:none;	}
}

.addr-banner  {
	background:none;
	background-color:none;
	float:right;
}

.image-jumb {
	width:180px;
	height:230px;
	float:right;
}






