.news_col {
	background: #fff;
	margin: 10px;
	margin-left: 70px;
	float: left;
	}


.news_col h2 {
	font-size: 18px;
	font-family: 'Cuprum';
}
.news_col h4 {
	font-size: 20px;
		font-family: 'Cuprum';
	
}
.news_col img {
	
}
.news_col img:hover {
	opacity: 0.7;
}

.news_show {
	background: #fff;
	margin: 0 auto;
	padding:  20px;
	margin-top: 15px;
	text-align: center;
	
}
.news_show h2 {
	font-size: 22px;
	text-align: left;
	font-family: 'Cuprum';
}
.news_show p {
font-family:  'Cuprum' !important;
font-size : 15px;
}
.news_show img {
	margin: auto;
}