body {
	background-color: #34495E;
	h1 {
		font: 'Noteworthy';
		font-family: 'Noteworthy';
		font-size: 60px;
		color: #fff;
		padding-bottom: 40.24px;
		text-align: center;
		background-color: #2C3E50;
		margin:0;
		}
	    .rooms {
			background-color: #2C3E50;
			padding-top:10px;
			padding-bottom:10px;
	}
	.upper_images {
		background-color: #2C3E50;
		padding-top:10px;
		padding-bottom:10px;
	}
	.down_images {
		background-color: #2C3E50;
		padding-top:10px;
		padding-bottom:10px;
	}
	.otstup {
	padding-top: 20px;
	}
	.custom_container {
		background-color: #34495E;
	}
}