body {
	background-color: #95A5A6;
	
	    .rooms {
			background-color: #2C3E50;
			padding-top:10px;
			padding-bottom:10px;
	}
	.upper_images {
		background-color: #2C3E50;
		padding-top:10px;
		padding-bottom:10px;
		img {
		width:100%;
		}
	}
	.down_images {
		background-color: #2C3E50;
		padding-top:10px;
		padding-bottom:10px;
		width:100%;
	}
	.otstup {
	padding-top: 10px;
	}
	.custom_container {
		background-color: #34495E;
	}
	.myh1 {
		font-family: 'Jura', sans-serif;
		font-size: 60pt;
		color: #fff;
		padding-bottom: 40.24px;
		text-align: center;
		background-color: #2C3E50;
		margin:0;
		p {
		font-size:15pt;
		}
		}
}