body {
font-family: 'PT Sans', sans-serif;
font-size: 14px;
line-height: 20px;
color: #333;
  background-color: #f2f2f2;

}


h1,h2,h3,h4,h5,h6 {
font-family: 'PT Sans', sans-serif;
	font-size:13px;
}


.container {
}

a {
	color: #EC644B;;
}
a:hover {
	color: #000;
	text-decoration: none;
}

.price_col {
	background: #fff;
	margin: 2px;
	text-align: center;
	}
	.price_col h5 {
		font-size: 15px;
		font-weight: 700;
		color: #333;
	}


#contacts {
	background: #fff;
}	
.contact_title h1 {
	font-size: 20px;
	margin-left: 20px;
}
	
	.contacts_col {
		padding: 0;
		margin: 0;
	}
	
.contact {
	text-align: center;
}
.contact_map {
	margin: 0 auto;
	padding-bottom: 30px;
}

.login {
	background: #fff;
	padding: 20px;
}
.login h2 {
	font-size: 20px;
	text-align: center;
}
.form-group {
margin: 0 auto;
padding: 0;
}

#about {
	background: #fff;
	color: #8f8f8f;
	min-height: 1120px;
}
#about h2 {
	font-size: 2em;
	color:  #000;
}


.about_head {
padding-top: 50px;
padding-bottom: 50px;
}
.about_head h1 {
	font-size: 4em;
	text-align: center;
	color: #000;
	margin: 0 auto;
	padding-bottom: 50px;
}
.about_head h3 {
	text-align: center;
	font-size: 2em;
	margin: 0 auto;
}

.about_content_left {
	text-align: center;
	padding-top: 15px;
	
}
.about_content_left h1 {
	font-size: 2em;
	margin: 0 auto;
	color: #000;
	text-transform: uppercase;
}
.about_content_left h3 {
	font-size:  1.2em;
	margin: 0 auto;
}
.about_content_left img {
	padding-top: 10px;	
	margin: 0 auto;
	box-shadow: 3px 2px 1px #acaca3;
}


.about_content_right {
	text-align: center;
	padding-top: 15px;
}
.about_content_right h1 {
	font-size: 2em;
	margin: 0 auto;
	color: #000;
	text-transform: uppercase;
}
.about_content_right h3 {
	font-size:  1.2em;
	margin: 0 auto;
}
.about_content_right img {
	padding-top: 10px;
	display: inline;
	margin: 0 auto;
	
	
}


.about_content_2_left {
	text-align: center;
	padding-top: 15px;
	
}
.about_content_2_left h1 {
	font-size: 1.6em;
	margin: 0 auto;
	color: #000;
	text-transform: uppercase;
}
.about_content_2_left h3 {
	font-size:  1.6em;
	margin: 0 auto;
}
.about_content_2_left img {
	padding-top: 10px;
	display: inline;
	margin: 0 auto;
		box-shadow: 3px 2px 1px #acaca3;
	
	
}

.about_content_2_right {
	text-align: center;
	padding-top: 15px;
	
}
.about_content_2_right h1 {
	font-size: 1.6em;
	margin: 0 auto;
	color: #000;
	text-transform: uppercase;
}
.about_content_2_right h3 {
	font-size:  1.3em;
	margin: 0 auto;
}
.about_content_2_right img {
	padding-top: 10px;
	display: inline;
	margin: 0 auto;
		box-shadow: 3px 2px 1px #acaca3;
	
	
}



