<div class = "row">
<div class = "col-lg-4">
<div class = "panel panel-primary">
<div class = "panel-heading text-center">Галерея игровых комнат</div>
<div class = "panel-body"><%= link_to (image_tag 'basket-room.jpg', width: 160),pages_gallery_path %>
<%= link_to (image_tag 'autograph-room.jpg', width: 160),pages_gallery_path%></div>
<p class = "text-center"><%= link_to 'Перейти' , pages_gallery_path, class: 'btn btn-primary btn-sm'%></p>
</div>
</div>
<div class = "col-lg-4">
<div class = "panel panel-primary">
<div class = "panel-heading">Panel Heading</div>
<div class = "panel-body">Panel body </div>
</div>
</div>
<div class = "col-lg-4">
<div class = "panel panel-primary">
<div class = "panel-heading">Panel Heading</div>
<div class = "panel-body">Panel body </div>
</div>
</div>
</div>
