<div class = "row">
<div class = "col-lg-4">
<div class = "panel panel-primary">
<div class = "panel-heading">Panel Heading</div>
<div class = "panel-body">Panel body </div>
</div>
</div>
<div class = "col-lg-4">
<div class = "panel panel-primary">
<div class = "panel-heading">Panel Heading</div>
<div class = "panel-body">Panel body </div>
</div>
</div>
<div class = "col-lg-4">
<div class = "panel panel-primary">
<div class = "panel-heading">Panel Heading</div>
<div class = "panel-body">Panel body </div>
</div>
</div>
</div>
