<div class="jumbotron text-left">
	<div class = 'row'>
		<div class = 'col-lg-8'>
			
    <h1>PlayStation3 club.</h1>
    <p class="lead">Первый в Харькове PlayStation3 клуб.</p>
    <p><a><%= link_to 'Перейти к новостям' , news_index_path, class: "btn btn-primary btn-lg " %> </a></p>
</div>
<div class = "col-lg-4"></p><span class = "jumbotron-image"><%= image_tag('210x176.png')%><p class = 'lead'>Уже у нас в клубе!</p></span></div>
</div>
</div>
