<div class="jumbotron">
  <div class="container ">
	<div class = 'row'>
		<div class = 'col-lg-5 col-md-5'>
    <h1>PlayStation3 club.</h1>
    <p class="lead">Первый в Харькове PlayStation3 клуб.</p>
    <p><a><%= link_to 'Перейти к новостям' , pages_infos_path, class: "btn btn-primary btn-lg " %> </a></p>
</div>
	<div class = "col-lg-5 col-md-5">
	<%= image_tag('1im.jpg',class: 'image-jumb') %>
	</div>
</div>
</div>
</div>
