<div class="jumbotron">
  <div class="container">
    <h1>Добро пожаловать!</h1>
    <p class="lead">Первый в Харькове Playstation3 клуб.</p>
    <p>Огромные плазменные панели,объемный звук.</p>
    <p><strong>V.I.P зал с проектором: диагональ экрана 3м!</strong> </p>
    <p><a class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
  </div>
</div>