<% cache @jumbotron do %>
<div class="jumbotron text-left">
	<div class = 'row'>
		
<div class = 'col-lg-8 col-md-8 col-xs-8 '>
    <h1>Только у нас!</h1>
    <p class="lead">Самые свежие игры и обновления!</p>
    <p><a><%= link_to 'Перейти к новостям' , news_index_path, class: "btn btn-primary btn-lg " %> </a></p>
</div>
	<div class = "col-lg-4 col-md-4 col-xs-4"></p><span class = "jumbotron-image"><%= image_tag('210x176.png',class: 'img-responsive')%><p class = 'lead'><strong>Online</strong></br>Уже у нас в клубе!</p></span></div>
<div class = 'col-lg-8 col-md-8 col-xs-8'><%= image_tag('labels.png', class: 'img-responsive')%></div>


	</div>
</div>
<% end %>