<div class="jumbotron">
  <div class="container ">
    <h1>PlayStation3 Kharkov club.</h1>
    <p class="lead">Первый в Харькове PlayStation3 клуб.</p>
    <p class = "lead">Огромные плазменные панели,объемный звук.</p>
    <p class="lead">V.I.P зал с проектором: диагональ экрана 3м! </p>
    <p><a><%= link_to 'Перейти к новостям' , pages_infos_path, class: "btn btn-primary btn-lg " %> </a></p>
  </div>
</div>
